<% include ../templates/header %>
    <div class="col-md-10">
        <div class="content-box-large">
            <div class="panel-heading">
                <a class="btn btn-primary" href="../mahasiswa/tambah">Tambah Data</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>NIM</th>
                                <th>Name Mahasiswa</th>
                                <th>Jenis Kelamin</th>
                                <th>Alamat</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length) {
                                for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].nim %>
                                    </td>
                                    <td>
                                        <%= data[i].namaMhs %>
                                    </td>
                                    <td>
                                        <%= data[i].jenisKelamin %>
                                    </td>
                                    <td>
                                        <%= data[i].alamat %>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="../mahasiswa/ubah/<%=data[i].nim%>">Ubah</a>
                                        <a class="btn btn-default" href="../mahasiswa/hapus/<%=data[i].nim%>">Hapus</a>
                                    </td>
                                </tr>
                                <% }
                                }else{ %>
                                    <tr>
                                        <td colspan="5">
                                            <h1>
                                                DATA MASIH KOSONG SILAHKAN DI ISI DULU
                                            </h1>
                                        </td>
                                    </tr>
                                    <%
                                } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% include ../templates/footer %>